/* Estilos CSS para el contenedor principal */
#container {
    display: flex;
    justify-content: flex-start; /* Alinear contenido a la izquierda */
    align-items: flex-start; /* Alinear contenido arriba */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en una nueva línea */
}

/* Estilos para la imagen */
#logo {
    max-width: 200px; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática según el ancho */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para el contenedor de botones */
#buttons-container {
    margin-right: 20px; /* Agregar espacio entre los botones y las tablas */
    margin-bottom: 20px; /* Agregar espacio inferior */
}

/* Estilos para los botones */
button {
    display: block; /* Mostrar los botones como bloques */
    width: 100%; /* Ocupar todo el ancho disponible */
    margin-bottom: 10px; /* Agregar espacio entre los botones */
}

/* Estilos para el contenedor de las tablas */
#data {
    display: flex;
    flex-direction: column; /* Apilar las tablas una encima de la otra */
    align-items: center; /* Centrar horizontalmente las tablas */
}

/* Estilos para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px; /* Establecer el ancho máximo de la tabla */
    margin-bottom: 20px; /* Agregar un espacio entre tablas */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para el formulario de añadir afiliado */
#addAfiliadoForm {
    display: none; /* Ocultar el formulario por defecto */
}

#addAfiliadoForm table {
    border-collapse: collapse;
    width: 100%;
}

#addAfiliadoForm td {
    padding: 8px;
}

#addAfiliadoForm input[type="text"] {
    width: calc(100% - 16px); /* Ancho del input, menos el padding */
}

#addAfiliadoForm button {
    width: 100%;
}
/* Estilos para los botones */
button {
    display: block; /* Mostrar los botones como bloques */
    width: 100%; /* Ocupar todo el ancho disponible */
    margin-bottom: 10px; /* Agregar espacio entre los botones */
    background-color: #415e80; /* Color de fondo predeterminado */
    color: white; /* Color de texto predeterminado */
    border: none; /* Sin borde */
    padding: 8px 16px; /* Padding interno */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Estilo para cambiar el color de fondo al pasar el cursor */
button:hover {
    background-color: #0056b3; /* Nuevo color de fondo al pasar el cursor */
}